<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <style>
      li {
        font-weight: 555;
      }

      @media (min-width: 1200px) {
        .card {
          margin-left: 80px;
        }
      }

      @media (min-width: 992px) and (max-width: 1199.98px) {
        .card {
          margin-left: 40px;
        }
      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        .card {
          margin-left: 155px;
        }
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        .card {
          margin-left: 75px;
        }
      }

      @media (min-width: 492px) and (max-width: 575.98px) {
        .card {
          margin-left: 50px;
        }
      }
    </style>

    <title>Bio Saya</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h2 class="text-center">Biodata Saya</h2>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
          <div class="card" style="width: 23rem">
            <div class="card-body">
              <h5 class="card-title">Informasi Pribadi</h5>
              <h6 class="card-subtitle mb-2 text-muted nama"></h6>
              <ul>
                <li>Sekolah: <span class="sekolah fw-normal"></span></li>
                <li>Kelas: <span class="kelas fw-normal"></span></li>
                <li>Gender: <span class="gender fw-normal"></span></li>
                <li>Tahun Lulus: <span class="th-lulus fw-normal"></span></li>
                <li>NIK: <span class="nik fw-normal"></span></li>
                <li>NISN: <span class="nisn fw-normal"></span></li>
                <li>Status Kelulusan: <span class="lulus fw-normal"></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="table-responsive-md text-center">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">Rata-Rata</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.min.js"></script>
    <script>
      const capitalizeName = (name) =>
        name.replace(/\b(\w)/g, (s) => s.toUpperCase());

      const capitalizeFirstLetter = (str) =>
        str.charAt(0).toUpperCase() + str.slice(1);

      window.addEventListener("DOMContentLoaded", () => {
        const socket = io();

        const tbody = document.querySelector('tbody')

        const nama = document.querySelector(".nama");
        const nik = document.querySelector(".nik");
        const nisn = document.querySelector(".nisn");
        const kelas = document.querySelector(".kelas");
        const sekolah = document.querySelector(".sekolah");
        const gender = document.querySelector(".gender");
        const thLulus = document.querySelector(".th-lulus");
        const lulus = document.querySelector(".lulus");

        socket.on("init", (data) => {
          const bio = data["bio.json"];

          const resultBio = bio.result;

          const dataKEY = Object.keys(resultBio.rapor[0]).filter((e) =>
            e.includes("score")
          );

          const objData = dataKEY.map((key) => ({
            score: key.replace("score_", ""),
            nilai:
              resultBio.rapor
                .map((e) => e[key])
                .reduce((curr, acc) => curr + acc) / 5,
          }));

          nama.innerText = capitalizeName(resultBio.name.toLowerCase());
          gender.innerText =
            resultBio.gender === "M" ? "Laki-Laki" : "Perempuan";
          thLulus.innerText = resultBio.graduate_year;
          nik.innerText = resultBio.nik;
          nisn.innerText = resultBio.nisn;
          sekolah.innerText = resultBio.school;
          lulus.innerText =
            resultBio.graduate_status === 0 ? "Tidak Lulus" : "Lulus";
          kelas.innerText = resultBio.class;

          dataKEY.forEach((key) => {
            const mapel = capitalizeFirstLetter(key.replace('score_', ''));
            const semester = resultBio.rapor.map((e) => e[key]);
            const {nilai: rataRata} = objData.find(x => x.score === key.replace('score_', ''));

            const tr = document.createElement('tr');
            const th = document.createElement('th');

            th.setAttribute('scope', 'row')
            th.innerText = mapel;

            tr.appendChild(th);

            semester.forEach((s) => {
              const semesterTD = document.createElement('td');
              semesterTD.innerText = s;

              tr.appendChild(semesterTD)
            });

            const rataTD = document.createElement('td');
            rataTD.innerText = rataRata;

            tr.appendChild(rataTD)

            tbody.appendChild(tr)
          });

          const totalTR = document.createElement('tr');
          const totalTH = document.createElement('th');
          const totalTDCOLS = document.createElement('td');
          const totalTD = document.createElement('td');

          totalTH.setAttribute('scope', 'row');
          totalTDCOLS.setAttribute('colspan', '5');
          totalTH.innerText = "Total"
          totalTD.innerText = objData.map(({ nilai }) => nilai).reduce((curr, acc) => curr + acc) / objData.length;

          totalTR.appendChild(totalTH)
          totalTR.appendChild(totalTDCOLS)
          totalTR.appendChild(totalTD)

          tbody.appendChild(totalTR)

          window.bio = objData;
        });
      });
    </script>
  </body>
</html>
